<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<packageSources>
		<clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="connection-solutions-projects" value="https://pkgs.dev.azure.com/connect-solutions-projects/_packaging/connection-solutions-projects/nuget/v3/index.json" />
	</packageSources>
</configuration>

<!--
C:\nuget.exe push -Source "connection-solutions-projects" -ApiKey connection-solutions-nuget WhatsApp.Messaging.Storage.EFCore.1.0.0.nupkg
-->